<h1>Notehall Merchants</h1>

<h2><%= link_to 'Scrape Users!', scrape_path %></h2>

<h4>Trophy Legend</h4>
<ul>
  <li>award award-gold = Over 1000 sales!</li>
  <li>award award-silver = Over 500 sales</li>
  <li>award award-bronze = Over 250 sales</li>
  <li>award award-medal = Over 100 sales</li>
  <li>award award-ribbon2 = Over 50 sales</li>
  <li>award award-ribbon1 = Over 10 sales</li>
</ul>
<table>
  <tr>
    <th>Notehall Id</th>
    <th>Username</th>
    <th>Url</th>
    <th>Sales Level</th>
    <th>Created At</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  
<% @notetakers.each do |notetaker| %>
  <tr>
    <td><%= notetaker.n_id %></td>
    <td><%= notetaker.n_username %></td>
    <td><a href="http://www.notehall.com<%= notetaker.n_url %> "><%= notetaker.n_url %></a></td>
    <td><%= notetaker.n_sales %></td>
    <td><%= notetaker.created_at %></td>
    <td><%= link_to 'Show', notetaker %></td>
    <td><%= link_to 'Destroy', notetaker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>