<p id="notice"><%= notice %></p>

<p>
  <b>Notehall Id:</b>
  <%= @notetaker.n_id %>
</p>

<p>
  <b>Username:</b>
  <%= @notetaker.n_username %>
</p>

<p>
  <b>Url:</b>
  <%= @notetaker.n_url %>
</p>

<p>
  <b>Sales Level:</b>
  <%= @notetaker.n_sales %>
</p>


<%= link_to 'Back', notes_path %>
